<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    <h1>HELLO OAK HARBOR GEEKS</h1>
    <h4> SEAHAWKS > PATRIOTS </h4>
  </body>
</html>